@media screen and (max-width: 1024px){

    tr{
        height: 4rem;
    }

    .menuList{
        display: flex;
        flex-direction: column;
    }

    .text-input{
        display: inline-block;
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
    }

    .submit-button{
        background-color: #007bff;
        width: 5rem;
        color: #ffffff;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: inherit;
    }

    .trophy-distribution{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .content{
        margin: 0;
    }

    .trophy-distribution-img{
        width: 2rem;
    }

    .echelon-type{
        display: none;
    }
}