@media screen and (max-width: 1024px){
    .trophy-distribution{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .content{
        margin: 0;
    }

    .trophy-distribution-img{
        width: 2rem;
    }
}