@media screen and (max-width: 1024px){

    .menuList{
        display: flex;
        flex-direction: column;
    }

    .text-input{
        display: inline-block;
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
    }

    .trophy-distribution{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .content{
        margin: 0;
    }

    .trophy-distribution-img{
        width: 2rem;
    }

    .echelon-type{
        display: none;
    }
}