.player-rank{
    display: flex;
    justify-content: space-around;
}


.general-player-info{
    display: flex;
    justify-content: space-around;
}

.general-country{
    display: flex;
    flex-direction: column;
}

.general-flag-picture{
    width: 9rem;
    height: 5rem;
}

.general-country-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.general-trophy-count{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
}

.player-name{
    display: flex;
    justify-content: center;
}

.section-title{
    margin: 1rem 0rem 1rem 1rem;
}

.section:last-of-type {
    border-bottom: 1px solid lightgray;
}