.trophy-distribution-table{
    width: 100%;
    padding-bottom: 2rem;
}

.trophy-distribution-table td{
    padding-right: 1rem;
}


.trophy-distribution{
    display: flex;
    justify-content: space-around;
}

.player-rank{
    display: flex;
    justify-content: space-around;
}

.rank-flag{
    width: 2rem;
    height: 1rem;
}

.player-rank-echelon{
    max-width: 4em;
}

.general-player-info{
    display: flex;
    justify-content: space-around;
}

.general-country{
    display: flex;
    flex-direction: column;
}

.general-flag-picture{
    width: 9rem;
    height: 5rem;
}

.general-country-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.general-trophy-count{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
}

.player-name{
    display: flex;
    justify-content: center;
}

.section-title{
    margin: 1rem 0rem 1rem 1rem;
}

.section{
    padding-bottom: 3rem;
}

.section:not(last-of-type) {
    border-bottom: 1px solid lightgray;
}