@font-face {
  font-family: "Lobster";
  src: local("Lobster"),
   url("./font/Lobster-Regular.ttf") format("truetype");
  font-weight: bold;
  }

body, html, #root{
  height: 100%;
  margin: 0;
  background-color: #161d31;
}

.content{
  background-color: white;
  border-radius: 7px;
  margin: 0 1rem 1rem 1rem;
}